<div class="example-wrapper">
    <h1>Hello
        {{ controller_name }}! ✅</h1>

    <p>HTTP Cache
        <b>done</b>
        correctly without ansdasdsadnotations, but without header
        <b>X-Symfony-Cached</b>
    </p>
</div>
